/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*===================== Fim do Reset ===========================*/

header{
  display: block;
	height: 100px;
  background-color: rgba(0, 30, 85, 0.5);
}

.logo{
  float: left;
  margin: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(0, 30, 85, 0.5);
}

#nav-menu{
  float: right;
  list-style-type: none;
  margin: 25px;
  padding: 0;
  overflow: hidden;

}

#nav-menu li{
   float: left;
   margin-right: 5px;
   background-color: rgba(0, 30, 85, 0.5);
}

#nav-menu li a{
  display: block;
  color: rgba(235, 235, 235, 0.95);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav-menu li a:hover{
  background-color: : rgba(185, 60, 200, 0.9);
}

#conteudo{
  margin: auto;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  height: 400px;
  width: 900px;
}

.gigante{
  width: 450px;
  height: 400px;
  order: 1;
  background-color: rgb(45, 157, 26);
}

.grande{
  width: 450px;
  height: 200px;
  order: 2;
  background-color: rgb(102, 208, 76)
}

.medio{
  width: 225px;
  height: 200px;
  order: 3;
  background-color: rgb(12, 176, 3)
}

.pequeno{
  order: 4;
  width: 225px;
  height: 100px;
  background-color: rgb(30, 188, 231)
}
